<!-- INICIO CONTACTO -->
<div id="contacto" class="offset mt-0 container-fluid">
    <!-- titulo -->
    <div class="titulo text-center">
        <h3 class="display-4 fw-bold">Contacto</h3>
        <hr class="w-50 mx-auto pb-5" />
    </div>

    <div class="mx-auto col-lg-6 col-md-6 col-12 ">
        <div class="mensaje">
            <p>Si tienes algún proyecto me encantaría ser parte de él. Te invito a contactarme a través del siguiente formulario, también puedes usarlo para dejarme algun comentario.  <br>
                ¡Saludos!</p>
        </div>

        <form class="bg-transparent" action="/action_page.php">
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ej:Rafael Capacca " name="text">
            </div>

            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Ej: raf9504@gmail.com" name="email">
            </div>

            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Mensaje:</label>
                <textarea class="form-control" placeholder="¡Déjame un mensaje!"></textarea>
            </div>

            <button type="submit" class="btn">Enviar</button>
        </form>
    </div>
</div>


<!-- FIN CONTACTO -->