<!--INICIO PROYECTOS-->
<div id="proyectos" class="offset mt-0 container-fluid">
    <!-- titulo -->
    <div class="encabezado text-center">
        <h3 class="display-4 fw-bold" >Proyectos</h3>
        <hr class="w-50 mx-auto pb-5" />

    </div>
    <div class=" position-relative pb-3"> 
        <button type="button" class=" btn btn-outline-dark position-absolute top-0 end-0"><i
                class="fa-solid fa-plus"></i></button>
</div>


    <div class="row">
  
        <div class="col-lg-4 col-md-6 col-12 pb-5">
            <div class="card">
                <img src="../../../assets/imagenes/proyecto1.png" class="card-img-top" alt="html">
                <div class="card-body">
                    
                    <h5 class="card-title">Descripcion del Proyecto</h5>
                    <p class="card-text">Portfolio</p>
                    <div class=" position-relative ">
                        <button type="button" class="btn btn-close-dark position-absolute top-0 start-50 "><i
                                class="fa-solid fa-pencil"></i></button>
        
                        <button type="button" class="btn btn-close-dark position-absolute top-0 end-0"><i
                                class="fa-solid fa-trash"></i></button>
                            </div>
                    <a href="#" class="btn ">Go somewhere</a>
                   
                </div>
                
                


            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 pb-5">
            <div class="card">
                <img src="../../../assets/imagenes/proyecto1.png" class="card-img-top" alt="html">
                <div class="card-body">
                    <h5 class="card-title">HTML</h5>
                    <p class="card-text">Portfolio</p>
                    <div class=" position-relative ">
                        <button type="button" class="btn btn-close-dark position-absolute top-0 start-50 "><i
                                class="fa-solid fa-pencil"></i></button>
        
                        <button type="button" class="btn btn-close-dark position-absolute top-0 end-0"><i
                                class="fa-solid fa-trash"></i></button>
                            </div>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 pb-5">
            <div class="card">
                <img src="../../../assets/imagenes/proyecto1.png" class="card-img-top" alt="html">
                <div class="card-body">
                    <h5 class="card-title">HTML</h5>
                    <p class="card-text">Portfolio</p>
                    <div class=" position-relative ">
                        <button type="button" class="btn btn-close-dark position-absolute top-0 start-50 "><i
                                class="fa-solid fa-pencil"></i></button>
        
                        <button type="button" class="btn btn-close-dark position-absolute top-0 end-0"><i
                                class="fa-solid fa-trash"></i></button>
                            </div>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>


    </div>
</div>

<!--FIN PROYECTOS-->