<!-- INICIO SOBRE MI -->
<div id="sobre-mi" class=" offset mt-5 mb-3 container" >

    <!-- titulo -->
    <div class=" encabezado text-center">
        <h3 class="display-4 fw-bold">Sobre Mi</h3>
        <hr class="w-50 mx-auto pb-5"> <!--w-50 hace la linea solo a la mitad y mx-auto la centra -->
    </div>

<!-- contenido -->

<!-- foto -->
<div class="row">
    <div class="col-lg-6 col-md-12 col-12 text-center">
        <img id="foto-perfil " src="../../../assets/imagenes/foto.jpeg" class="img-fluid img-thumbnail " style="max-width: 60%;" alt="foto-Perfil">
    </div>
<!-- descrpcion -->
    <div class="col-lg-6 col-md-12 col-12 text-justifify">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima laboriosam sapiente explicabo deleniti similique culpa earum in minus eum facilis? Totam dolorum quisquam aperiam aut? Expedita et possimus nobis est!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sequi debitis eos molestiae cum, asperiores quod est quas aspernatur maiores natus, repudiandae pariatur repellat quam quis numquam inventore itaque. Accusamus!</p>
    </div>


</div>

<!-- FIN SOBRE MI -->
