<div class="login">
    <h2>Login</h2>
    <form>
        <div class="user-box">

            <input type="email" name="" required="">
            <label> correo</label>
        </div>

        <div class="user-box">

            <input type="password" name="" required="">
            <label> contraseña</label>
        </div>

        <div class="boton">
            <a id="submit" href="#">Ingresar</a>

            <div id="registrarse">
                No tiene cuenta?
                <a href="#">registrarse</a>
            </div>
        </div>
    </form>
</div>