<div id="inicio">
<div >
  <button type="button" class="btn btn-close-white position-absolute top-50 start-50 translate-middle"><i class="fa-solid fa-pencil"></i></button>

</div>

  <!-- INICIO NAVBAR-->
  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">

    <div class="container-fluid">
      <!-- logo -->
      <a class="navbar-brand" href="#">
        <img class="img-fluid d-inline-block align-text-top" src="../../../assets/imagenes/logoAP.png" alt="Logo" width="110px"/>
      </a>

      <div class="redes">


        <a href="#" class="icon icon--instagram m-2 " target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>


        <a href="#" class="icon icon--facebook m-2" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>


        <a href="#" class="icon icon--github m-2" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>


        <a href="#" class="icon icon--codepen m-2" target="_blank">
          <i class="fa-brands fa-codepen"></i>
        </a>

      </div>

      <!-- boton desplegable responsive -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- items menu -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-2 mb-2 mb-lg-0">

          <li class="nav-item active">
            <a class="nav-link" href="#inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre-mi">Sobre Mi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#educacion-experiencia">Educación y Experiencia</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#habilidades">Habilidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#proyectos">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>

        </ul>

        <button class="login" type="button">LOGIN</button>
        
      </div>
    </div>
  </nav>
  <!-- FIN NAVBAR -->

  <!-- INICIO BANNER -->
  <div class="banner">
    
    <!-- imagen de fondo -->

  </div>

  <!-- texto presentacion -->
  <div class="presentacion text-center">
    <h5>Hola, soy</h5>
    <h1>Marcia Romero</h1>
    <p>Full Stack Developer Jr.</p>
  </div>
 
  <!-- FIN BANNER  -->
</div>
