<!-- INICIO ESTUDIOS Y EXPERIENCIA-->
<div id="educacion-experiencia" class="offset mt-5 container-fluid">
    <!-- titulo -->
    <div class="encabezado text-center">
        <h3 class="display-4 fw-bold">Educación y Experiencia</h3>
        <hr class="w-50 mx-auto pb-5" />
        
    </div>

<!-- estudios  -->
    <div class="row gy-5">
        <div class="col-lg-6 overflow-hidde" id="estudios">
            <h2 class="pb-2 text-center fw-bold">Educación</h2>

            <div class=" row gy-4 text-center"> 

                <div class="col-12">
                    <div class="item p-6 m-4 border rounded-4" style="background: #36c5b0">
                        <h4>Ingenieria Industrial</h4>
                        <p>fecha</p>
                        <p>Universidad Antonio Nariño</p>
                        <h5>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            reiciendis. Eveniet tempora optio mollitia nesciunt ipsam
                            excepturi eius assumenda recusandae est officiis, eos explicabo.
                        </h5>
                    </div>
                </div>

                <div class="col-12">
                    <div class="item p-6 m-4 border rounded-4" style="background: #36c5b0">
                        <h4>Ingenieria Industrial</h4>
                        <p>fecha</p>
                        <p>Universidad Antonio Nariño</p>
                        <h5>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Architecto explicabo dolorum ad molestias consequuntur ducimus
                            reiciendis. Eveniet tempora optio mollitia nesciunt ipsam
                            excepturi eius assumenda recusandae est officiis, eos explicabo.
                        </h5>
                    </div>
                </div>

                <div class="col-12">
                    <div class="item p-6 m-4 border rounded-4" style="background: #36c5b0">
                        <h4>Ingenieria Industrial</h4>
                        <p>fecha</p>
                        <p>Universidad Antonio Nariño</p>
                        <h5>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Architecto explicabo dolorum ad molestias consequuntur ducimus
                            reiciendis. Eveniet tempora optio mollitia nesciunt ipsam
                            excepturi eius assumenda recusandae est officiis, eos explicabo.
                        </h5>
                    </div>
                </div>
            </div>
        </div>

<!-- experiencia -->
        <div class="col-lg-6 overflow-hidde" id="experiencia">
            <h2 class="pb-2 text-center fw-bold ">Experiencia</h2>

            <div class="row gy-4 text-center">
                <div class="col-12">
                    <div class="item p-6 m-4 border rounded-4" style="background: #36c5b0">
                        <h4>Ingenieria Industrial</h4>
                        <p>fecha</p>
                        <p>Universidad Antonio Nariño</p>
                        <h5>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Architecto explicabo dolorum ad molestias consequuntur ducimus
                            reiciendis. Eveniet tempora optio mollitia nesciunt ipsam
                            excepturi eius assumenda recusandae est officiis, eos explicabo.
                        </h5>
                    </div>
                </div>

                <div class="col-12">
                    <div class="item p-6 m-4 border rounded-4" style="background: #36c5b0">
                        <h4>Ingenieria Industrial</h4>
                        <p>fecha</p>
                        <p>Universidad Antonio Nariño</p>
                        <h5>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Architecto explicabo dolorum ad molestias consequuntur ducimus
                            reiciendis. Eveniet tempora optio mollitia nesciunt ipsam
                            excepturi eius assumenda recusandae est officiis, eos explicabo.
                        </h5>
                    </div>
                </div>

                <div class="col-12">
                    <div class="item p-6 m-4 border rounded-4" style="background:#36c5b0">
                        <h4>Ingenieria Industrial</h4>
                        <p>fecha</p>
                        <p>Universidad Antonio Nariño</p>
                        <h5>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Architecto explicabo dolorum ad molestias consequuntur ducimus
                            reiciendis. Eveniet tempora optio mollitia nesciunt ipsam
                            excepturi eius assumenda recusandae est officiis, eos explicabo.
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--FIN ESTUDIOS Y EXPERIENCIA-->